DB_NAME=backend
DB_USER=kubok_app
DB_PASS=REPLACE_WITH_STRONG_PASSWORD
JWT_SECRET=REPLACE_WITH_64_CHAR_HEX_openssl_rand_-hex_32
INTERNAL_SECRET=REPLACE_WITH_STRONG_SECRET_openssl_rand_-base64_24
CORE_PORT=8080
GAME_PORT=8081
ADMIN_USER=REPLACE_WITH_ADMIN_USERNAME
ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
